<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <title>Add User</title>
    </head>
    <body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <br>     
        <div class="row justify-content-between">
            <div class="col">  
                <h2>Add a New User:</h2>
                <br>
            </div>
            <div class="col-2">
                <span>{{ user.first_name }} {{ user.last_name }}</span>
                <a href="/logout">Logout</a>
                <br>
                <br>
                <a href="/dashboard/{{ user.user_level.level }}" class="btn btn-secondary" role="button" >Return to Dashboard</a>
            </div>
            <br>
        </div>
        <form action="/process/new" method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label for="inputFirst">First Name:</label>
                <input type="text" class="form-control" id="inputFirst" name="first_name" placeholder="Enter first name">
            </div>
            <div class="form-group">
                <label for="inputLast">Last Name:</label>
                <input type="text" class="form-control" id="inputLast" name="last_name" placeholder="Enter last name">
            </div>
            <div class="form-group">
                <label for="inputEmail">Email:</label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="inputPw">Password:</label>
                <input type="password" class="form-control" id="inputPw" name="pw" placeholder="Enter password">
                <small class="form-text text-muted">*Password should be at least 8 characters, with at least 1 upper case letter, 1 lower case letter, 1 number, and 1 special character.</small>
            </div>
            <div class="form-group">
                <label for="inputPwConfirm">Password Confirm:</label>
                <input type="password" class="form-control" id="inputPwConfirm" name="pw_confirm" placeholder="Confirm password">
                <small class="form-text text-muted">*Passwords must match.</small>
            </div>
            <div class="form-group">
                <label for="selectUserLevel">Select User Level:</label>
                    <select class="form-control" name="user_level" id="selectUserLevel">
                        <option value="admin">admin</option>
                        <option value="normal">normal</option>
                    </select>
            </div>
            <button type="submit" class="btn btn-primary">Add User</button>
        </form>
    </div>
    </body>
</html>